$white: #ffffff;

$gray-100: #f6f9fc;
$gray-200: #eaf0f6;
$gray-600: #66758b;
$gray-900: #191d27;

$blue-500: #575fcf;
$blue-600: #3c40c6;

$red-600: #e13636;

$yellow-400: #f1c40f;

$primary: $blue-600;

$container-width: 1296px;
$spacing: 16px;
$font-size: 16px;

$transition-duration-short: 150ms;
$border-radius: 3px;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.04),
  0 2px 1px -1px rgba(0, 0, 0, 0.02);
